/* Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Variable declarations. */
:root {
    /*--background-color: rgb(238, 240, 242);*/
    --background-color: white;
    --burnside-green: rgb(2, 96, 76);
    --lighter-green: rgb(33, 109, 79);
    --blue-color: rgb(23, 50, 72);
    --light-blue: rgb(34, 75, 109);
    --grey-white: rgb(218, 221, 216);
    --dark-grey: rgb(54, 65, 62);
}

/* Body styling */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-color);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}


/* Header section */

header {
    background-color: var(--burnside-green);
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
}

/* ul*/
.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* li */
.navitem {
    display: inline;
}

/* a */
.navbutton {
    color: rgb(238, 240, 242);
    text-align: center;
    text-decoration: none;
    padding: 0px max(10px, 2vw);
    font-size: min(3vw, 2rem);
}

.navbutton:hover {
    background-color: rgb(48, 115, 81);
}


/* Home Page */

h1, h2 {
    text-align: center;
}

.box-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.section-box {
    border: 3px solid black;
    border-radius: 10px;
    width: min(400px, 90vw);
    height: 400px;
    text-align: center;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.section-image {
    height: 160px;
    /* width: min(300px, 80vw); */
}


.blue-button {
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    font-size: 2rem;
    padding: 10px;
    text-decoration: none;
    background-color: var(--blue-color);
    color: white;
    max-width: fit-content;
}

.blue-button:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}


/* Upload Data page. */
.info-box {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: min(400px, 90vw);
    align-self: center;
}

.small-info-box {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: min(300px, 30vw);
}

.info-box.no-align {
    align-self: auto;
}

.info-text {
    margin-block: 0.5em;
}

.list-header {
    margin-bottom: 0px;
}

.info-list {
    /* No top margin to decrease distance from heading. */
    margin-top: 0px;
    margin-bottom: 0.5em;
}

#additional-info {
    overflow-y: hidden;
    transition: 0.25s;
    height: 300px;
}

.centre-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.form-button {
    font-size: 1rem;
    padding: 5px 10px;
    text-decoration: none;
    background-color: var(--grey-white);
    border: none;
    color: black;
    width: fit-content;
    font-family: 'Nunito Sans', sans-serif;
    align-self: center;
}

.download-button {
    font-size: 1rem;
    padding: 5px 10px;
    text-decoration: none;
    background-color: var(--grey-white);
    border: none;
    color: black;
    width: fit-content;
    font-family: 'Nunito Sans', sans-serif;
    align-self: center;
    display: flex;
    align-items: center;
}


.password-field {
    margin-bottom: 1em;
}

.form-button:hover {
    cursor: pointer;
}

.fading-text {
    visibility: hidden;
    transition: 2s;
    opacity: 0;
}

.long-wait-text {
    visibility: hidden;
    color: red;
}

.information-dialog {
    width: 400px;
}

.small-text {
    font-size: 0.9rem;
}

/* Graph Generation Page. */

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: max(2vw, 10px);
    flex-flow: wrap;
    align-items:flex-start;
}

.centred-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.filter-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min(400px, 90vw);
    text-align: center;
    background-color: white;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.filter-field {
    margin-inline: 5px;
    margin: 5px;
    background-color: var(--grey-white);
    font-family:'Nunito Sans', sans-serif;
    font-size: min(3vw, 0.9rem);
    color: black;
    border-radius: 2px;
}
/* Set background colour of filter options. */
.filter-field > option {
    font-size: min(3vw, 0.9rem);
    background-color: white;
}

.filter-label {
    align-self: flex-start;
    margin-inline: 5px;
}

/* Area graph takes up.*/
.chart-container {
    width: max(400px, 38vw);
    height: max(400px, 30vw);
}

.simple-list {
    list-style-type: none;
}

/* Rows for the information table.*/
.data-row {
    text-align: center;
}


/* Dialog Boxes*/

.flash-dialog {
    margin-top: max(20vh, 150px);
    animation-name: from-top;
    animation-duration: 0.5s;
}

/* Animation for dialog box from top. */ 
@keyframes from-top {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


/* Side Menu.
   Based on W3 Schools */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.25s;
}

.side-menu > h1 {
    width: min(400px, 90vw);
}

.side-bar {
    height: 100%;
    width: 50px;
    left:0;
    position: fixed;
    display:block;
    z-index: 1;
    overflow-x: visible;
    background-color: var(--dark-grey);
    padding-top: 60px;
    transition: 0.25s;
}

/* Classes for main content, to account for side menu.*/
.main-default {
    margin-left: 50px;
}

.main-pushed-margin {
    margin-left : calc(min(400px, 90vw) + 50px);
}

.main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Transition time for sliding of main content.*/
#main {
    transition: 0.3s;
}

.open-button {
    cursor: pointer;
}

/* 404 page */
.big-header {
    font-size: min(5rem, 100px);
    text-align: center;
}

.big-subtitle {
    font-size: min(3rem, 60px);
    text-align: center;
}

.horizontal-centering {
    text-align: center;
}

/* Footer */
footer {
    margin-top: auto;
    background-color: var(--burnside-green);
    z-index: 2;
}

.footer-text {
    color: white;
    font-size: small;
    text-align: center;
}

#mobile-form {
    display: none;
}

@media screen and (max-width: 1300px) {
    /* Display for graph generation page for small screens
       Hides the side menu and replaces it with a mobile form.
       And fixes the main content to accommodate the change.
    */
    .side-menu {
        display:none;
    }
    .side-bar {
        display: none;
    }

    .main-pushed-margin, .main-default {
        margin-left: 0px;
    }

    #mobile-form {
        display: block;
        align-self: center;
        margin-bottom: 10px;
    }
}