{% extends "layout.html" %}
{% block content %}
    <div class="page-content">
        <div class="info-box">
            <h1>Graph Comparison</h1>
            <p class="info-text">To compare data, first import data from NZQA</p>
            <div class="centred-content">
                <a class="form-button" href="/submit-nzqa">Import</a>
            </div>
            <p class="info-text">Select filters:</p>
            <div class="filter-form">
                <form action="/retrieve-graph-data" method="post">
                    <div class="form-content">
                        <label for="Subject" class="filter-label">Subject</label>
                        {{form.subject(class="filter-field")}}
                        <label for="NCEA Level" class="filter-label">Level</label>
                        {{form.level(class="filter-field")}}
                        <label for="Assessment Type" class="filter-label">Assessment Type</label>
                        {{form.assess_type(class="filter-field")}}
                        <label for="Ethnicity" class="filter-label">Ethnicity</label>
                        {{form.ethnicity(class="filter-field")}}
                        {{form.submit()}}
                        {{form.csrf_token}}
                    </div>
                </form>
            </div>
            {% if graph %}
                <button onclick="showInfo()" id="show-info-button">Show Additional Information</button>
                <button onclick="hideInfo()" id="hide-info-button" style="display: none;">Hide Additional Information</button>
            {% endif %}
        </div>
        <div class="info-box">
            <h2>Info</h2>
            <div id="info-list" style="display: none;">
                <p>test</p>
            </div>
            <div class="centred-content">
                <div class="chart-container">
                    <canvas id="NCEAgraph"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages|length > 0 %}
            <dialog open class="flash-dialog">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                <button onclick="this.parentElement.close()">Close</button>
            </dialog>
        {% endif %}
    {% endwith %}
    {% if graph %}
    {% block javascript %}
        <script>
            infoButton = document.getElementById("show-info-button");
            hideButton = document.getElementById("hide-info-button");
            infoList = document.getElementById("info-list");
            function showInfo() {
                infoButton.style.display = "none";
                hideButton.style.display = "block";
                infoList.style.display = "block";
            }
            function hideInfo() {
                infoButton.style.display = "block";
                hideButton.style.display = "none";
                infoList.style.display = "none";
            }
            graph = JSON.parse({{info | tojson}});
            new Chart("NCEAgraph", {
                type: "bar",
                data : {
                    labels: graph["labels"],
                    datasets : [
                    {
                        label: "Excellence",
                        data: graph["excellence"],
                        backgroundColor: 'rgb(245, 197, 66)',
                    },
                    {
                        label: "Merit",
                        data: graph["merit"],
                        backgroundColor: 'rgb(66, 123, 245)',
                    },{
                        label: "Achieved",
                        data: graph["achieved"],
                        backgroundColor: 'rgb(245, 72, 66)',
                    },],
                },
            options : {
                scales: {
                    y: {
                        min: 0,
                        max: 100,
                        ticks: {
                            callback: function(value) {
                                return value + "%"
                            }
                        },
                        title : {
                            display: true,
                            text: "Percentage"
                        }
                    },
                    x : {
                        stacked: true,
                        title : {
                            display: true,
                            text: "Year"
                        }
                    }
                },
                plugins: {
                    title : {
                        display: true,
                        text: graph["title"]
                    },
                },
                legend : {
                    display: true
                }
            }
            });
        </script>
        {% endblock %}
    {% endif %}
{% endblock %}