{% extends "layout.html" %}
{% block content %}
    <div id="sideMenu" class="side-menu">
        <h1>Generate</h1>
        <form action="/retrieve-graph-data" method="post" class="filter-form">
            <div class="form-content">
                <label for="Subject" class="filter-label">Subject</label>
                {{form.subject(class="filter-field")}}
                <label for="NCEA Level" class="filter-label">Level</label>
                {{form.level(class="filter-field", id="level-field")}}
                <label for="Assessment Type" class="filter-label">Assessment Type</label>
                {{form.assess_type(class="filter-field")}}
                <label for="Ethnicity" class="filter-label">Ethnicity</label>
                {{form.ethnicity(class="filter-field", id="ethnicity-field")}}
                <label for="Comparison" class="filter-label">Comparison Type</label>
                {{form.compare(class="filter-field", id="compare-field", onchange="changeForm()")}}
                <input type="hidden" name="none" value="No filter" id="default-value">
                {{form.submit(class="form-button")}}
                {{form.csrf_token}}
            </div>
        </form>
    </div>
    <div id="sideOpen" class="side-bar">
        <a>
            <a id="menuArrow" class="open-button" onclick="toggleMenu()">
                <img id="arrowImage" width="50px" src="/static/icons/left-arrow.png"></img>
            </a>
        </a>
    </div>
<div id="main">
    <div class="title-area">
        <h1>Graph Display</h1>
    </div>
    <div class="main-box">
        <div class="small-info-box no-align">
            {% if not graph %}
                <p class="info-text">No graph generated.</p>
            {% endif %}
            {% if graph %}
                <button onclick="showInfo()" id="show-info-button"  style="display: none;" class="form-button">Show Additional Information</button>
                <button onclick="hideInfo()" id="hide-info-button"  class="form-button">Hide Additional Information</button>
            <div id="additional-info">
                <h3>Entries</h3>
                <ul class="simple-list">
                    <table>
                        <tr>
                            <th>Year</th>
                            <th>Number of Entries</th>
                        </tr>
                        {% for year, value in additional["entries"] %}
                            <tr>
                                <td class="data-row">{{year}}</td>
                                <td class="data-row">{{value}}</td>
                        {% endfor %}
                    </table>
                </ul>
            </div>
            {% endif %}
        </div>
        <div>
            <div class="chart-container">
                <canvas id="NCEAgraph"></canvas>
            </div>
        </div>
    </div>
    </div>
    <script>
        compareField = document.getElementById("compare-field");
        ethnicityField = document.getElementById("ethnicity-field");
        levelField = document.getElementById("level-field");
        defaultInput = document.getElementById("default-value");

        function changeForm() {
            ethnicityField.disabled = false;
            levelField.disabled = false;
            if (compareField.value == "Compare by Ethnicity") {
                ethnicityField.disabled = true;
                ethnicityField.value = "No filter";
                defaultInput.name = "ethnicity";
            } 
            else if (compareField.value == "Compare by Level") {
                levelField.disabled = true;
                levelField.value = "No filter";
                defaultInput.name = "level";
            } else {
                defaultInput.name = "none";
            }
        }

        changeForm(); // Update when page is first loaded.

        var menuOpen = false;
        function toggleMenu() { // Open and close the side menu.
            if (menuOpen) {
                document.getElementById("sideMenu").style.width = "0px";
                document.getElementById("sideOpen").style.left = "0px";
                document.getElementById("arrowImage").src = "/static/icons/left-arrow.png";
                document.getElementById("main").style.marginLeft = "50px"
            } else {
                document.getElementById("sideMenu").style.width = "min(400px, 90vw)";
                document.getElementById("sideOpen").style.left = "min(400px, 90vw)";
                document.getElementById("arrowImage").src = "/static/icons/down-arrow.png";
                document.getElementById("main").style.marginLeft = "calc(min(400px, 90vw) + 50px)";
            }
            menuOpen = !menuOpen;
        }
        toggleMenu();
    </script>
</div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages|length > 0 %}
    <dialog open class="flash-dialog">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <button onclick="this.parentElement.close()">Close</button>
    </dialog>
{% endif %}
{% endwith %}
{% if graph %}
{% block javascript %}
<script>
    infoButton = document.getElementById("show-info-button");
    hideButton = document.getElementById("hide-info-button");
    infoList = document.getElementById("additional-info");
    function showInfo() {
        infoButton.style.display = "none";
        hideButton.style.display = "block";
        infoList.style.height = "500px";
        //infoList.style.visibility = "visible";
    }
    function hideInfo() {
        infoButton.style.display = "block";
        hideButton.style.display = "none";
        infoList.style.height = "0px";
        //infoList.style.visibility = "hidden";
    }
    graph = JSON.parse({{info | tojson}});
    var chartData = { 
        labels: graph["labels"],
        datasets : [
        {
            label: "Excellence",
            data: graph["excellence1"],
            backgroundColor: 'rgb(245, 197, 66)',
            stack: "Burnside"
        },
        {
            label: "Merit",
            data: graph["merit1"],
            backgroundColor: 'rgb(66, 123, 245)',
            stack: "Burnside"
        },{
            label: "Achieved",
            data: graph["achieved1"],
            backgroundColor: 'rgb(245, 72, 66)',
            stack: "Burnside"
        },
        {
            label: "Not achieved",
            data: graph["not_achieved1"],
            backgroundColor: 'rgba(110,110,110,0.5)',
            stack: "Burnside"
        },
        {% if comparison %}
        {
            label: "Decile 8-10 Excellence",
            data: graph["excellence2"],
            backgroundColor: 'rgb(252, 127, 3)',
            stack: "Decile 8-10"
        },
        {
            label: "Decile 8-10 Merit",
            data: graph["merit2"],
            backgroundColor: 'rgb(30, 92, 227)',
            stack: "Decile 8-10"
        },{
            label: "Decile 8-10 Achieved",
            data: graph["achieved2"],
            backgroundColor: 'rgb(217, 34, 28)',
            stack: "Decile 8-10"
        },
        {
            label: "Decile 8-10 Not achieved",
            data: graph["not_achieved2"],
            backgroundColor: 'rgba(100,100,100,0.5)',
            stack: "Decile 8-10"
        },
        {% endif %}
        ],
    }
    new Chart("NCEAgraph", {
        type: "bar",
        data : chartData,
        options : {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: 100,
                    ticks: {
                        stepSize: 5,
                        callback: function(value) {
                            return value + "%"
                        }
                    },
                    title : {
                        display: true,
                        text: "Percentage"
                    }
                },
                x : {
                    stacked: true,
                    title : {
                        display: true,
                        text: "Year"
                    }
                }
            },
            plugins: {
                title : {
                    display: true,
                    text: graph["title"]
                },
                legend : {
                    position: "bottom",
                }
            }
        }
    });
</script>
{% endblock %}
{% endif %}
{% endblock %}