{% extends "layout.html" %}
{% block content %}
    <div id="sideMenu" class="side-menu">
        <h1>Generate</h1>
        <form action="/retrieve-graph-data" method="post" class="filter-form">
            <div class="form-content">
                <label for="Subject" class="filter-label">Subject</label>
                {{form.subject(class="filter-field")}}
                <label for="NCEA Level" class="filter-label">Level</label>
                {{form.level(class="filter-field", id="level-field")}}
                <label for="Assessment Type" class="filter-label">Assessment Type</label>
                {{form.assess_type(class="filter-field")}}
                <label for="Ethnicity" class="filter-label">Ethnicity</label>
                {{form.ethnicity(class="filter-field", id="ethnicity-field")}}
                <label for="Comparison" class="filter-label">Comparison Type</label>
                {{form.compare(class="filter-field", id="compare-field", onchange="changeForm()")}}
                <input type="hidden" name="none" value="No filter" id="default-value">
                {{form.submit(class="form-button")}}
                {{form.csrf_token}}
            </div>
        </form>
    </div>
    <div id="sideOpen" class="side-bar">
        <a>
            <a id="menuArrow" class="open-button" onclick="toggleMenu()">
                <img id="arrowImage" width="50px" src="/static/icons/left-arrow.png"></img>
            </a>
        </a>
    </div>
<div id="main">
    <div class="title-area">
        <h1>Graph Display</h1>
    </div>
    <div class="main-box">
        <div class="small-info-box no-align">
            {% if not graph %}
                <p class="info-text">No graph generated.</p>
            {% endif %}
            {% if graph %}
                <button onclick="showInfo()" id="show-info-button"  style="display: none;" class="form-button">Show Additional Information</button>
                <button onclick="hideInfo()" id="hide-info-button"  class="form-button">Hide Additional Information</button>
            <div id="additional-info">
                <h3>Entries</h3>
                <ul class="simple-list">
                    <table>
                        <tr>
                            <th>Year</th>
                            <th>Number of Entries</th>
                        </tr>
                        {% if false %}
                        {# {% for year, value in additional["entries"] %} #}
                            <tr>
                                <td class="data-row">{{year}}</td>
                                <td class="data-row">{{value}}</td>
                        {% endif %}
                    </table>
                </ul>
            </div>
            {% endif %}
        </div>
        <div>
            <div class="chart-container">
                <canvas id="NCEAgraph"></canvas>
            </div>
        </div>
    </div>
    </div>
    <script>
        compareField = document.getElementById("compare-field");
        ethnicityField = document.getElementById("ethnicity-field");
        levelField = document.getElementById("level-field");
        defaultInput = document.getElementById("default-value");

        function changeForm() {
            ethnicityField.disabled = false;
            levelField.disabled = false;
            if (compareField.value == "Compare by Ethnicity") {
                ethnicityField.disabled = true;
                ethnicityField.value = "No filter";
                defaultInput.name = "ethnicity";
            } 
            else if (compareField.value == "Compare by Level") {
                levelField.disabled = true;
                levelField.value = "No filter";
                defaultInput.name = "level";
            } else {
                defaultInput.name = "none";
            }
        }

        changeForm(); // Update when page is first loaded.

        var menuOpen = false;
        function toggleMenu() { // Open and close the side menu.
            if (menuOpen) {
                document.getElementById("sideMenu").style.width = "0px";
                document.getElementById("sideOpen").style.left = "0px";
                document.getElementById("arrowImage").src = "/static/icons/left-arrow.png";
                document.getElementById("main").style.marginLeft = "50px"
            } else {
                document.getElementById("sideMenu").style.width = "min(400px, 90vw)";
                document.getElementById("sideOpen").style.left = "min(400px, 90vw)";
                document.getElementById("arrowImage").src = "/static/icons/down-arrow.png";
                document.getElementById("main").style.marginLeft = "calc(min(400px, 90vw) + 50px)";
            }
            menuOpen = !menuOpen;
        }
        toggleMenu();
    </script>
</div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages|length > 0 %}
    <dialog open class="flash-dialog">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <button onclick="this.parentElement.close()">Close</button>
    </dialog>
{% endif %}
{% endwith %}
{% if graph %}
{% block javascript %}
<script>
    infoButton = document.getElementById("show-info-button");
    hideButton = document.getElementById("hide-info-button");
    infoList = document.getElementById("additional-info");
    function showInfo() {
        infoButton.style.display = "none";
        hideButton.style.display = "block";
        infoList.style.height = "500px";
        //infoList.style.visibility = "visible";
    }
    function hideInfo() {
        infoButton.style.display = "block";
        hideButton.style.display = "none";
        infoList.style.height = "0px";
        //infoList.style.visibility = "hidden";
    }

    function generateColours(baseColours, number, extent) {
        // Generates a set of varied colours.
        colours = []
        shift = extent/number;
        for (let i = 0; i < baseColours.length; i++) {
            newColours = [];
            for (let j = 0; j < number; j++) {
                colour = [baseColours[i][0] * (1-(j * shift)), baseColours[i][1] * (1-(j * shift)), baseColours[i][2] * (1-(j * shift))];
                newColours.push(`rgb(${colour[0]}, ${colour[1]}, ${colour[2]})`);
            }
            colours.push(newColours);
        }
        return colours;
    }

    function generateSetColours(baseColours, shiftColours) {
        colours = [];
        for (let i = 0; i < baseColours.length; i++) {
            newColours = [];
            for (let j = 0; j < shiftColours.length; j++) {
                colourResult = [];
                for (let k = 0; k < 3; k++) {
                    colourResult.push(Math.min(baseColours[i][k] + shiftColours[j][k]));
                }
                newColours.push(`rgb(${Math.min(colourResult[0], 255)}, ${Math.min(colourResult[1], 255)}, ${Math.min(colourResult[2],255)})`);
            }
            colours.push(newColours);
        }
        return colours;
    }

    graph = JSON.parse({{info | tojson}});
    numDatasets = graph["results"].length;
    COLOURS = [["rgb(245,72,66)","rgb(66,123,245)","rgb(245,197,66)"], 
               ["rgb(255, 30, 30)","rgb(30, 60, 250)","rgb(250, 125, 0)"],
               ["rgb(245,136,129)","rgb(94,85,177)","rgb(224,233,143)"],
               ["rgb(255,0,0)","rgb(47,38,245)","rgb(255,255,0)"],
               ["rgb(232,128,142)","rgb(140,160,191)","rgb(189,157,117)"],
               ["rgb(255,144,255)","rgb(127,255,255)","rgb(237,214,160)"]];
    if (numDatasets <= 6) {
        colours = COLOURS.slice(0,numDatasets);
    } else {
        baseColours = [[200,72,66], [66,123,200], [200,150,66], [140,130,20],[20,150,140], [120,20,130]];
        shiftColours = [[50,0,0], [0,0,50], [45,45,0]];
        colours = generateSetColours(baseColours, shiftColours);
        console.log(colours);
    }
    console.log(colours);
    datasets = [];

    //colours = generateColours(baseColours, graph["results"].length, 0.5);
    for (let i = 0; i < numDatasets; i++) {
        datasets.push({
            label: `${graph["data_set_labels"][i]} Excellence`,
            data: graph["results"][i][3],
            backgroundColor: colours[i][2],
            stack: graph["data_set_labels"][i]
        })
        datasets.push({
            label: `${graph["data_set_labels"][i]} Merit`,
            data: graph["results"][i][2],
            backgroundColor: colours[i][1],
            stack: graph["data_set_labels"][i]
        })
        datasets.push({
            label: `${graph["data_set_labels"][i]} Achieved`,
            data: graph["results"][i][1],
            backgroundColor: colours[i][0],
            stack: graph["data_set_labels"][i]
        })
        datasets.push({
            label: `${graph["data_set_labels"][i]} Not Achieved`,
            data: graph["results"][i][0],
            backgroundColor: `rgba(110,110,110,0.5)`,
            stack: graph["data_set_labels"][i]
        })
    }
    var chartData = {
        labels: graph["years"],
        datasets : datasets
    }
    console.log(chartData); 
    new Chart("NCEAgraph", {
        type: "bar",
        data : chartData,
        options : {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: 100,
                    ticks: {
                        stepSize: 5,
                        callback: function(value) {
                            return value + "%"
                        }
                    },
                    title : {
                        display: true,
                        text: "Percentage"
                    }
                },
                x : {
                    stacked: true,
                    title : {
                        display: true,
                        text: "Year"
                    }
                }
            },
            plugins: {
                title : {
                    display: true,
                    text: graph["title"],
                    font : {
                        size: 12
                    }
                },
                legend : {
                    position: "bottom",
                }
            }
        }
    });
</script>
{% endblock %}
{% endif %}
{% endblock %}