{% extends "layout.html" %}
{% block content %}
    <div class="info-box">
        <h1>Graph Comparison</h1>
        <p class="info-text">To compare data, first import data from NZQA</p>
        <div class="centred-content">
            <a class="form-button" href="/submit-nzqa">Import</a>
        </div>
        <p class="info-text">Select filters:</p>
        <div class="filter-form">

        </div>
    </div>
    </div>

    {% block javascript %}
        <script>
            
        </script>
    {% endblock %}
{% endblock %}