{% extends "layout.html" %}
{% block content %}
    <div class="info-box">
        <h1>Import Data</h1>
        <p class="info-text">Before generating graphs, you need to import NZQA data.</p>
        <p class="info-text list-header">Data must be:</p>
        <ul class="info-list">
            <li>A csv file (comma seperated values)</li>
            <li>Contain NCEA data</li>
        </ul>
    <div class="centre-form">
        <form method="post" enctype="multipart/form-data">
            <label for="csvfile" class="form-button">Select CSV file</label>
            <input type="file" name="csvfile" id="csvfile" accept=".csv" class="hidden" onchange="displayFilename(this)">
            <p id="filename-display"></p>
            <label for="submit-button" class="form-button" id="submit-label" style="visibility:hidden;">Upload</label>
            <input type="submit" class="hidden" id="submit-button">
        </form>
    </div>
    </div>
    {% block javascript %}
    <script>
        function displayFilename(fileInput) {
            var file = fileInput.value;
            var filename = file.split("\\");
            document.getElementById("filename-display").innerHTML = filename[filename.length - 1];
            document.getElementById("submit-label").style.visibility = "visible"
        }

    </script>
{% endblock %}
{% endblock %}