{% extends "layout.html" %}
{% block content %}
    <div class="info-box">
        <h1>Import Data</h1>
        <p class="info-text">Before generating graphs, you need to import NZQA data.</p>
        <p class="info-text list-header">Data must be:</p>
        <ul class="info-list">
            <li>A csv file (comma seperated values)</li>
            <li>Contain NCEA data</li>
        </ul>
        <b>Please note: Uploading data can take up to 30 seconds.</b>
        <div class="centre-form">
            <form action="/read-data" method="post" enctype="multipart/form-data" class="centre-form" onsubmit="displayLoadingMessage()">
                <label for="csvfile" class="form-button">Select CSV file</label>
                {{form.nzqa(id="csvfile", class="hidden", accept=".csv", onchange="displayFilename(this)")}}
                <p id="filename-display"></p>
                <div>
                    <label for="Password">Enter Password: </label>
                    {{form.password(class="password-field")}}
                </div>
                <label for="submit-button" class="form-button" id="submit-label" style="visibility:hidden;">Upload</label>
                {{form.submit(class="hidden", id="submit-button")}}
                {{form.csrf_token}}
            </form>
        </div>
        <p class="fading-text" id="load-text">Please wait while data uploads...</p>
        <p class="long-wait-text" id="wait-text">An error may have occured, waiting time is longer than expected.</p>
    </div>
    {% with messages = get_flashed_messages() %}
        {# Display Error and informative messages. #}
        {% if messages|length > 0 %}
            <dialog open class="flash-dialog">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                <button onclick="this.parentElement.close()">Close</button>
            </dialog>
        {% endif %}
    {% endwith %}

    {% block javascript %}
    <script>
        function displayFilename(fileInput) {
            /* Display the filename using the 'filename-display element. */
            var file = fileInput.value;
            // Get just the file name, not the full path.
            var filename = file.split("\\");
            document.getElementById("filename-display").innerHTML = filename[filename.length - 1];
            document.getElementById("submit-label").style.visibility = "visible"
        }

        function displayLoadingMessage() {
            /* Display a loading message. */
            loadMsg = document.getElementById("load-text");
            // Make the loading message visible and set its opacity to 1 to make it fade in.
            // The loading message has a transition time of 2s.
            loadMsg.style.visibility = "visible";
            loadMsg.style.opacity = 1;
            // Each call to set timeout altenates setting the opacity from 1 to 0 with increasing delays.
            // All setTimeout calls are made in a row, but the time is increased by a constant amount.
            // To produce an alternating effect.
            for (let i = 0; i < 11; i++) {           
                setTimeout(() => {loadMsg.style.opacity = 0;}, 2000 + i * 4000);
                setTimeout(() => {loadMsg.style.opacity = 1;}, 4000 + i * 4000);
            }
            // After 46 seconds, a potential error has occured, and display the long wait text.
            setTimeout(() => {
                document.getElementById("wait-text").style.visibility = "visible";
                loadMsg.style.visibility = "hidden";
                             }, 46000);
        }

    </script>
{% endblock %}
{% endblock %}